@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Supermercado+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', fantasy;
}

h1 {
    font-weight: underline;
}

.title {
    text-align: center;
    color: rgba(255, 253, 250, 0.767);
}

h2 {
    color: rgb(9, 0, 12);
    text-align: center;
}

body {
    background-color: #000007;
}

body>table {
    width: 100%;
    background: linear-gradient(110deg, #01fc16 60%, #a9ac0f 60%);
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
    padding: px;
    height: 20px;
    align-items: center;
    border-collapse: collapse;
    background-color: #00B4D8;
}

td,
th {
    border: 1px solid #CAF0F8;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #dddddd;
}

input[type=text],
input[type=number],
input[type=email],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #00B4D8;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #0c0d5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 3px;
}

form div.form-action-buttons {
    text-align: center;
}

a {
    cursor: pointer;
    width: 20%;
    background-color: #03045E;
    color: white;
    padding: 2px 2px;
    margin: 3px;
    border: none;
    cursor: pointer;
}

label.validation-error {
    color: #03045E;
    margin-left: 5px;
}

.hide {
    display: none;
}